In [46]:
import pandas as pd
import plotly.express as px
from pathlib import Path
from sqlalchemy import create_engine
from sqlalchemy.sql import text
import psycopg2

# Import data to database

In [47]:
card_holder_csv = Path(".\Data\card_holder.csv")
credit_card_csv = Path(".\Data\credit_card.csv")
merchant_category_csv = Path(".\Data\merchant_category.csv")
merchant_csv = Path(".\Data\merchant.csv")
transaction_csv = Path(".\Data\transaction.csv")
seed_data = Path(".\Data\seed.sql")
schema = Path(".\schema.sql")

In [48]:
eng = create_engine("postgres://postgres:W@terH0u53@localhost/postgres")

In [53]:
with eng.connect() as con:
    schema_sql = text(schema.read_text())
    seed_sql = text(seed_data.read_text())
    con.execute(schema_sql)
    con.execute(seed_sql)

# Analysis

## How can you isolate (or group) the transactions of each cardholder?

In [55]:
trans = pd.DataFrame
with eng.connect() as con:
    trans = pd.read_sql("transaction", con)
trans.head(10)

     id                date  amount              card  merchant_id
0   222 2018-01-01 21:35:10    6.22  3561954487988605           69
1  2045 2018-01-01 21:43:12    3.83  5135837688671496           85
2   395 2018-01-01 22:41:21    9.61   213193946980303           82
3  3309 2018-01-01 23:13:30   19.03  4263694062533017            5
4   567 2018-01-01 23:15:10    2.95     4498002758300           64
5  1683 2018-01-02 01:13:21   11.24  4263694062533017          127
6  2083 2018-01-02 02:06:21    1.46     4319653513507           93
7  3488 2018-01-02 04:36:45    3.36  4506405265172173          136
8  2635 2018-01-02 05:45:43   16.69  5297187379298983          120
9   432 2018-01-02 10:13:09    8.55  5175947111814778           70

In [64]:
# grouping the transactions by card number
card_groups = trans.groupby("card", axis=0)
card_groups.count()

                     id  date  amount  merchant_id
card
501809222273         67    67      67           67
501879657465         66    66      66           66
503842928916         79    79      79           79
584226564303         96    96      96           96
675911140852         43    43      43           43
4276466390111        55    55      55           55
4319653513507        60    60      60           60
4498002758300        65    65      65           65
4681896441519        57    57      57           57
4741042733274        60    60      60           60
30063281385429       58    58      58           58
30078299053512       58    58      58           58
30142966699187       57    57      57           57
30181963913340       61    61      61           61
180098539019105      73    73      73           73
213193946980303      70    70      70           70
344119623920892      68    68      68           68
372414832802279      64    64      64           64
376027549341849      81    81      81           81
3516952396080247     61    61      61           61
3517111172421930     68    68      68           68
3535651398328201     74    74      74           74
3561072557118696     64    64      64           64
3561954487988605     64    64      64           64
3581345943543942     53    53      53           53
3582198969197591     52    52      52           52
4027907156459098     72    72      72           72
4150721559116778     57    57      57           57
4188164051171486     62    62      62           62
4263694062533017     52    52      52           52
4268491956169254     85    85      85           85
4506405265172173     63    63      63           63
4539990688484983     78    78      78           78
4711773125020499     71    71      71           71
4834483169177062     61    61      61           61
5135837688671496     71    71      71           71
5175947111814778     65    65      65           65
5297187379298983     66    66      66           66
5361779664174555     60    60      60           60
5500708021555307     71    71      71           71
5570600642865857     71    71      71           71
6011987562414062     61    61      61           61
6500236164848279     63    63      63           63
4159836738768855913  75    75      75           75
4165305432349489280  66    66      66           66
4279104135293225293  67    67      67           67
4586962917519654607  73    73      73           73
4644008655884311378  59    59      59           59
4723783028106084756  75    75      75           75
4743204091443101526  81    81      81           81
4761049645711555811  65    65      65           65
4866761290278198714  56    56      56           56
4962915017023706562  80    80      80           80

## Consider the time period between 7:00 am to 9:00 am

### What are the 100 highest transactions during this time period?